@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This beautiful minimalism design web app was built by <a href="https://www.linkedin.com/in/ashton-andrews-0921b8148">Ashton Andrews</a>.</p>
</div>
